export(r.arrayzeros)
export(r.classifierMetrics)
export(r.dist)
export(r.nn)
export(r.pca)
export(r.R2)
export(r.R2Adjusted)
export(r.randomData)
export(r.reg.logistic)
export(r.rescale.col)
export(r.spline)
export(r.toClusterGroups)
export(r.toColumns)
export(r.toFormula)
export(r.tree.toClusters)
export(r.validate)
export(r.zeros)
